* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 100px;
    width: 100%;

    background-color: black;

    display: flex;
    align-items: center;

    position: relative;
}

header > #logo-image {
    height: 70px;

    position: absolute;
    left: 12.5px;
}