* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 200vh;
    width: 100vw;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: hsl(0, 0%, 11%); */
}

.header-wrap {
    position: fixed;
    width: 100%;
}

header {
    height: 100px;
    width: 101%;

    background-color: black;

    display: flex;
    align-items: center;

    position: relative;

    box-shadow: 0px 2px 12px 15px black;
}

#logo-image {
    height: 70px;

    position: absolute;
    left: 10px;
}

header > nav {
    width: 60%;

    display: flex;
    justify-content: center;

    position: absolute;
    right: 25px;

    gap: 40px;
}

header .nav-button {
    min-width: 100px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-button a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

    color: white;

    display: flex;
    flex-direction: row;

    gap: 5px;
    transition: 0.35s;
}

header .nav-button a:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

header .nav-button img {
    width: 25px;
}

main {
    width: 100vw;
    display: flex;
    align-items: center;
}

/* hero */

#hero {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-bg {
    margin-top: 100px;
    width: 105%;
    height: 120%;

    position: absolute;
    filter: brightness(0.29);
    z-index: -2;
}

@font-face {
    font-family: Bebas Neue;
    src: url(../../assets/fonts/BebasNeue-Regular.ttf);
}

#frase-hero {
    font-family: Bebas Neue;
    font-size: 100px;
    color: white;
}
