:root {
    --default-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --alt-font: Bebas Neue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    width: 100vw;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(../../assets/img/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* header ---------------------------------------------------------------------------------------------------------- */

.header-wrap {
    position: fixed;
    width: 100%;

    z-index: 99;
}

header {
    height: 100px;
    width: 100vw;

    background-color: black;

    display: flex;
    align-items: center;

    position: relative;

    box-shadow: 0px 2px 4px 4px black;
}

#logo-image {
    height: 70px;
    align-self: center;
    margin-left: 20px;
}

header > nav {
    width: 75%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    right: 40px;

    gap: 40px;
}

header > nav > button {
    width: 47.67px;
    height: 47.67px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;

    cursor: pointer;
    transition: 0.15s ease-in;

    border-radius: 360px;
}

header > nav > button > img {
    width: 100%;
    height: 100%;
}

header > nav > button:hover {
    background-color: hsla(0, 0%, 100%, 0.123);
}

#contato-button {
    cursor: pointer;
    user-select: none;
}

#nav-content a {
    display: flex;
    gap: 5px;

    padding: 4px;
    border-radius: 350px;
    transition: 0.15s;
    
    color: white;
    font-family: var(--default-font);
    text-decoration: none;
}

#nav-content a:hover {
    background-color: hsla(0, 0%, 100%, 0.123);
    text-decoration: underline;
}

header > nav > #nav-content img {
    max-width: 20px;
    max-height: 20px;
}

#nav-content {
    width: 60%;
    max-height: 40px;

    display: flex;
    align-items: center;

    gap: 20px;

    justify-content: space-around;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hero ---------------------------------------------------------------------------------------------------------- */

#hero {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-bg {
    margin-top: 100px;
    width: 100%;
    height: 125%;

    position: absolute;
    filter: brightness(0.29);
    z-index: -2;
}

#bg-spacer {
    height: 125%; 
    margin-top: 100px;
}

@font-face {
    font-family: Bebas Neue;
    src: url(../../assets/fonts/BebasNeue-Regular.ttf);
}

#frase-hero {
    font-family: Bebas Neue;
    font-size: 100px;
    color: white;
    text-align: center;

    max-width: 75%;

    margin-top: 36px;
}

#frase-hero-complemento {
    color: white;
    
    margin-bottom: 20px;

    font-weight: bold;
    font-size: large;
    font-family: var(--default-font);
}

#hero-buttons {
    margin-top: 90px;

    width: 50%;
    height: fit-content;

    display: flex;
    justify-content: space-around;
}

.hero-button {
    transition: 0.2s ease-in-out;

    padding: 15px 30px 15px 30px;
    
    text-decoration: none;
    font-family: Bebas Neue;
    color: white;
    font-size: larger;

    border-radius: 12px;
}

#hero-buttons > #albuns {
    background-color: hsl(0, 100%, 64%);
}

#hero-buttons > #albuns:hover {
    box-shadow: 0 0 8px 2px hsl(4, 63%, 40%);
}

#hero-buttons > #videos {
    background-color: hsl(234, 100%, 64%);
}

#hero-buttons > #videos:hover {
    box-shadow: 0 0 8px 2px hsl(234, 71%, 51%);
}

#hero-buttons > #sucessos {
    background-color: hsl(115, 58%, 35%);
}

#hero-buttons > #sucessos:hover {
    box-shadow: 0 0 8px 2px hsl(115, 57%, 25%);
}

.hero-button:hover {
    transform: scale(1.05);
}

/* biografia rápida ------------------------------------------------------------------------------------------------*/

#quick-bio {
    width: 100vw;
    min-height: 350px;
    max-height: 350px;

    background: linear-gradient(0deg,rgba(46, 46, 46, 1) 0%, rgba(8, 8, 8, 1) 100%);

    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#quick-bio-text {
    font-family: var(--default-font);

    width: 55%;

    margin-left: 60px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

#quick-bio-text-wrapper > h1 {
    font-family: Bebas Neue !important;
    font-size: 60px;
}

#quick-bio-img {
    height: 300px;
    margin-right: 110px;

    filter: contrast(0.9);

    border: 4px solid hsl(0, 0%, 11%);
    border-radius: 10px;
}

#quick-bio-text-trophies {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}

.trophy {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: hsl(0, 0%, 10%);

    padding: 5px;
    border-radius: 10px;
}

.trophy > img {
    width: 70px;
    user-select: none;
}

.trophy > span {
    font-size: 19px;
    font-family: Bebas Neue;
}

/* scroll de álbuns -------------------------------------------------------------------------------------------------*/

#album-scroll {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(../../assets/img/hero-bg.png);

}

#album-scroll > h1 {
    font-family: Bebas Neue;
    color: white;
    font-size: 40px;

    padding: 10px;
}

#album-scroll h5 {
    font-family: var(--default-font);
    color: white;
    text-align: center;
    font-style: italic;

    margin-bottom: 20px;
}

#album-scroll-container {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;

    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#album-track {
    overflow-y: visible;

    display: flex;
    align-items: center;

    height: fit-content;
    width: max-content;

    gap: 30px;
}

.album {
    flex-shrink: 0;
    
    padding: 50px 30px 50px 30px;

    max-height: 100%;
    width: 300px;

    background: radial-gradient(circle,rgba(48, 48, 48, 1) 0%, rgba(8, 8, 8, 1) 100%);

    border: 3px solid hsl(0, 0%, 7%);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    cursor: pointer;
    transition: 0.12s ease-in-out;

    color: white;
    text-decoration: none;
}

#album-track a {
    text-decoration: none;
}

.album:hover {
    transform: scale(1.05);
}

.album-img {
    width: 75%;
    transition: 0.3s ease-in-out;

    border: 5px solid white;
    border-radius: 45px;
}
.album-date {
    font-family: Bebas Neue;
    font-size: 26px;
}

.album-name {
    font-size: 25px;
    font-family: var(--default-font);
    
    width: 100%;

    text-align: center;
}

/* album search  */

#all-albums {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(0deg,rgb(39, 39, 39) 0%, rgb(20, 20, 20) 100%);

    padding: 20px 0 20px 0;

    font-family: var(--alt-font);
    color: white;
}

#all-albums a {
    color: white;
    text-decoration: none;
}

#album-search-wrapper {
    width: 30%;
    height: 40px;

    display: grid;
    grid-template-columns: 11fr 1fr;
}

#search {
    border: none;
    padding: 0 0 0 10px;
    height: 100%;
    outline: none;

    border-radius: 360px 0 0 360px;
}

#search-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 360px 360px 0;

    cursor: pointer;
}

#search-button > img {
    width: 85%;
    height: 85%;
}

#album-list {
    width: 78%;
    height: 75vh;

    margin-top: 20px;

    background: radial-gradient(circle,rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    padding: 15px 10px 15px 10px;
    border-radius: 15px;
}

.album-display {
    width: 200px;
    padding: 15px;

    background: radial-gradient(circle,rgba(48, 48, 48, 1) 0%, rgba(8, 8, 8, 1) 100%);
    border: 3px solid hsl(0, 0%, 7%);
    border-radius: 8px;

    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    cursor: pointer;
    transition: 0.12s ease-in-out;
}

.album-display:hover {
    background: radial-gradient(circle,rgb(65, 65, 65) 0%, rgb(32, 32, 32) 100%);
}

.album-display-img {
    width: 80%;
    border: 4px solid white;
    border-radius: 30px;
}

.album-display-name {
    font-family: var(--default-font);
    text-align: center;
}

.album-display-year {
    font-family: Bebas Neue;
    font-size: 22px;
}

/* ----------- esqueci. sucessos ---------------------------------------------------------- */

#sucesses {
    width: 100%;
    min-height: 95vh;

    background: url(../../assets/img/sucessos-bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 50px;

    backdrop-filter: brightness(0.5);
}

#sucesses > h1 {
    color: white;
    font-size: 50px;
    font-family: Bebas Neue;
    margin-top: 20px;
}

#sucesses > div {
    width: 85%;
    height: 85%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}

.sucesso {
    width: 110%;
    height: 100px;
    position: relative;

    color: white;

    background: linear-gradient(90deg,rgba(71, 71, 71, 1) 0%, rgba(31, 31, 31, 1) 100%);

    border: 4px solid rgb(54, 54, 54);
    border-radius: 20px;
    cursor: pointer;

    transition: 0.25s ease-out;
}

.sucesso:hover {
    transform: scale(1.05);
}

.sucesso > .spinning-disc {
    animation: diskRotate infinite 5s linear;

    height: 80%;

    position: absolute;
    left: 5px;
    top: calc(10%);
}

.sucesso > h1 {
    text-align: center;
    font-family: var(--alt-font);
    position: absolute;
    top: 10px;
    left: 85px;

    text-align: center;
}

#sucesses > h1 > i {
    font-size: small;
    font-family: var(--default-font);
    height: 15px;
    vertical-align: top;
}

.sucesso > span {
    font-family: var(--default-font);
    color: white;
    
    position: absolute;
    top: 40px;
    left: 87px;
}

.sucesso > .headfoneswow {
    height: 60%;

    position: absolute;
    top: calc(20%);
    right: 10px;
}

/* footer */

footer { 
    width: 100%;
    height: 200px;

    background-color: black;

    padding: 30px;

    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#copyright { 
    height: 100%;
    width: 70%;
    
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--default-font);

    text-align: left;

    margin-left: 30px;
}

#footer-info {
    height: 100%;
    width: 100%;

    display: flex;

    justify-content: space-evenly;

    font-family: var(--default-font);
}

#footer-info span {
    font-size: larger;

    font-family: var(--alt-font);
}

#footer-info a {
    text-decoration: none;
    color: rgb(221, 221, 221);
}

#footer-info a:hover {
    text-decoration: underline;
}

#footer-info > * {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* história. ta tudo fora de ordem*/

#history { 
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 100%;
    min-height: 95vh;

    padding: 30px 0 30px 0;
}

#history > h1 {
    font-family: var(--alt-font);
    font-size: 40px;
    margin: 20px;
}

#history #wide {
    width: 250px;
}

#history-wrapper {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-card-info {
    margin: 0 30px 0 30px;
}


.history-card-info h1 {
    font-family: var(--alt-font);
}

.history-card-info span {
    font-size: large;
    font-weight: bold;
}

#history-wrapper img {
    max-height: 200px;
    border: 3px solid hsl(0, 0%, 34%);
    border-radius: 20px;
}

#history-wrapper > * {
    width: calc(50% + 2.5px);

    padding: 20px;

    min-height: 150px;
    background-color: hsla(0, 0%, 31%, 0.125);

    font-family: var(--default-font);
}

.left {
    align-self: flex-end;
    border-left: 5px solid white !important;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text-align: left;
}

.right {
    align-self: flex-start;
    border-right: 5px solid white !important;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    text-align: right;
}

/* galeria */

#gallery {
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

#gallery > h1 {
    font-family: var(--alt-font);
    color: white;

    font-size: 40px;
}

#gallery-wrapper h1 {
    font-family: var(--alt-font);
    color: white;
    text-align: center;

    font-size: 35px;
}

#fotos {
  position: relative;
  width: 900px;
  height: 500px;
  max-width: 900px;
  margin: 40px auto;
  overflow: hidden;
  background: black;
  border: 5px solid hsl(0, 0%, 18%);
  border-radius: 20px;
}

#carrossel-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.25s ease-in-out;
}

.carrossel-slide {
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
}

.carrossel-slide img, .carrossel-slide video {
  width: 900px;
  max-height: 100%;
  width: auto;
  height: auto;

  object-fit: cover;
  display: block;
}

#carrossel-button-prev, #carrossel-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;

  font-size: 30px;
  color: white;

  cursor: pointer;

  padding: 10px;

  user-select: none;
}

#carrossel-button-prev {
    left: 10px; 
}

#carrossel-button-next { 
    right: 10px; 
}

#videos-o-outro {
    width: 100%;

    gap: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#videos-o-outro iframe {
    width: 100%;

    border: 3px solid hsl(0, 0%, 18%);
    border-radius: 20px;
}

/* modais. são 22:31 agora */

#bg-blur {
    width: 100vw;
    height: 100vh;
    position: fixed;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);

    z-index: 1;
}

.modal {
    position: fixed;

    width: 60%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(0deg,rgba(46, 46, 46, 1) 0%, rgba(8, 8, 8, 1) 100%);

    border-radius: 25px;

    color: white;
    font-family: var(--default-font);
}

.modal a {
    color: aqua;
}

.modal button {
    align-self: flex-end;

    border: none;
    background: none;

    color: white;
    font-size: 60px;

    width: 60px;
    height: 60px;

    cursor: pointer;
}

#contato #socials {
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin: 10px;
}

#contato form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    margin: 20px;
}

#contato form textarea {
    min-height: 100px;
    min-width: 300px;
}

#contato form label {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}